.head {
  height: 500px;
  background-color: #e2e631;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: auto;
}

.head .name h1 {
  color: rgb(56, 114, 8);
  font-weight: 700;
}

.head .name h1 span {
  font-weight: 900;
}

@media only screen and (min-width:1024px) {
  .head {
    margin-top: 0.5em;
    margin-left: 2em;
    width: 500px
  }
}