nav {
  font-family: 'Source Sans Pro', sans-serif;
  height: 120px;
  width: auto;
  background-color: #6ca140;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }

  .tweeter {  
  font-family: 'bungee', cursive;
  margin-left: 1.5em;
  }
  
  .test {
  text-align: right;
  margin-right: 1.5em;  
  }
  
  i {
  color: rgb(187, 255, 0);
  margin-left: 45em;
  }